<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon: Edit Stylist</title>
  </head>
  <body>
    <div class="container">
      <h1>Update {{ stylist.getName }}'s info:</h1>
        <form action="/stylists/{{ stylist.getId }}" method="post">
          <input name="_method" type="hidden" value="patch">
          <label for="name">Rename stylist:</label>
          <input id="name" name="name" type="text">
          <button type="submit">Update</button>
        </form>

        <form action="/stylists/{{ stylist.getId }}/delete" method="post">
          <input name="_method" type="hidden" value="delete">
          <button type="submit">Remove stylist</button>
        </form>
    </div>
  </body>
</html>
