<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon</title>
  </head>
  <body>
    <div class='container'>
      <h1>Harry's Hair Salon</h1>
      <h3>Add a stylist:</h3>

<!-- Form to add a stylist -->
        <form action="/stylists" method="post">
          <label for="name">Stylist Name:</label>
          <input id="name" name="name" type="text">
          <button type="submit" class='btn btn-default'>Add stylist</button>
        </form>

<!-- Twig logic to show stylists. Only shows delete button if a stylist exists. -->
          {% if stylists is not empty %}
            <p>Here are the salon's available stylists:</p>
            <ul>
                {% for stylist in stylists %}
                  <li><strong><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></strong></li>
                {% endfor %}
              </ul>

              <form action="/delete_stylists" method="post">
                <button type="submit" class='btn btn-danger'>Delete stylists</button>
              </form>

          {% else %}
            <p>No one has added a stylist yet.</p>
          {% endif %}

    </div>
  </body>
</html>
